@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>These are some changes that Bob has made to test out his branch.</p>
<p>Here is another change I needed for testing.</p>
<p>I added this change to test calling notepad++</p>