@model bidtfal.Models.Contributor[]
@{
    ViewBag.Title = "Contact";
}

@foreach (var contributor in Model)
{
    <div class="row" style="margin-top: 10px">
        <div class="col-md-4">
            <img src="/Images/@contributor.ImageFileName"
                 alt="@contributor.Name"
                 class="img-responsive" />
        </div>
        <div class="col-md-3">
            <div class="well">
                <h4>@contributor.Name</h4>
                <ul>
                    @foreach (var contactLink in contributor.ContactLinks)
                    {
                        <li>@Html.Raw(contactLink.GetContactLinkHtml)</li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-5"></div>
    </div>
}